<%- include('./partials/header')%>
<div>
 
  


<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50">
                    <img src="/<%=spost.image1%>" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="post-cata cata-sm cata-danger"><%= spost.postT%></a>
                            <a href="#" class="post-title mb-2"><h6><%=spost.postC%></h6></a>

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-author"></a>
                                    <i class="fa fa-circle" aria-hidden="true"></i>
                                    <a href="#" class="post-date"><%=spost.createdAt.toDateString()%></a>
                                </div>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> <%=spost.comments.length%></a>
              
                                    <form action="/like/<%=spost._id%>?_method=PUT" method="POST">
                                        <button style="background: none; border: none;"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <%=spost.likes.length%></button>
                                    </form>

                                   
                                </div>
                                <form action="/unlike/<%=spost._id%>?_method=PUT" method="POST">
                                    <button style="background: none; border: none;"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>

                        <p><%=spost.discription%></p>

                       
                        <!-- Post Tags -->
                        <div class="post-tags mt-30">
                            <ul>
                                <%spost.spec.forEach(function(post){%>
                                <li><a href="#"><%=post%></a></li>
                                <% })%>
                            </ul>
                        </div>

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Comment</h4>
                                <div class="line"></div>
                            </div>

                            <ul>
                                <!-- Single Comment Area -->
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <%spost.comments.forEach(function(post){%>
                                    <div class="comment-content d-flex">
                                        <!-- Comment Meta -->
                                        
                                                                                
                                        <div class="comment-meta">
                                           
                                            <h6><%=post.postedBy.name%></h6>
                                            <p><%= post.message%></p>
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="like">like</a>
                                                <a href="#" class="reply">Reply</a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <% })%>

                                    
                                </li>

                                
                            </ul>
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>Leave a reply</h4>
                                <div class="line"></div>
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area">
                                <form action="/comment/<%=spost._id%>?_method=PUT" method="POST">
                                    <div class="row">
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message" placeholder="Message*"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn vizew-btn mt-30" type="submit">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget share-post-widget mb-50">
                        Click To Play This Video
                        <a class="video-popup" href="/<%=spost.vid%>" title="Virtual Tour">
                            <img src="/<%=spost.image1%>" class="author-avatar"  >            
                        </a>
                        <img class="author-avatar" src="" alt="">
                    </div>
                    <div class="single-widget share-post-widget mb-50">
                        <img class="author-avatar" src="/<%=spost.image1%>" alt="">
                    </div>
                    <div class="single-widget share-post-widget mb-50">
                        <img class="author-avatar" src="/<%=spost.image2%>" alt="">
                    </div>
                    <div class="single-widget share-post-widget mb-50">
                        <img class="author-avatar" src="/<%=spost.image3%>" alt="">
                    </div>
                    <div class="single-widget share-post-widget mb-50">
                        <img class="author-avatar" src="/<%=spost.image4%>" alt="">
                    </div>
                    <div class="single-widget share-post-widget mb-50">
                        <img class="author-avatar" src="/<%=spost.image5%>" alt="">
                    </div>

               </div>
            </div>
        </div>
    </div>
</section>
</div>
<%- include('./partials/footer')%>